.cover__subtitle {
  position: relative;
  z-index: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  max-width: 360px;
  text-align: center;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
      font-size: 14px;
      line-height: 1.14;
      max-width: 288px;
  }
}