.lead__subtitle {
    margin: 16px auto 40px auto;
    text-align: center;
    line-height: 20px;
    max-width: 288px;
    font-family: 'Inter', 'serif', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px auto 56px auto;
        max-width: 640px;
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        margin: 32px auto 64px auto;
    }
}