.place__link {
    font-family: 'Inter', 'serif', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration-line: underline;
    transition: transform .5s ease;
}

.place__link:hover {
    opacity: 0.8;
}